/* ==========================================
   EditPro - Global Styles
========================================== */

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* HTML */

html{
    scroll-behavior:smooth;
}

/* Body */

body{

    font-family:var(--font);

    background:var(--bg);

    color:var(--white);

    overflow-x:hidden;

}

/* Selection */

::selection{

    background:var(--primary);

    color:#fff;

}

/* Scrollbar */

::-webkit-scrollbar{

    width:10px;

}

::-webkit-scrollbar-track{

    background:var(--bg);

}

::-webkit-scrollbar-thumb{

    background:var(--primary);

    border-radius:50px;

}

::-webkit-scrollbar-thumb:hover{

    background:var(--primary-hover);

}

/* Links */

a{

    text-decoration:none;

    color:inherit;

}

/* Images */

img{

    max-width:100%;

    display:block;

}

/* Lists */

ul{

    list-style:none;

}

/* Buttons */

button{

    cursor:pointer;

    border:none;

    outline:none;

    font-family:inherit;

}

/* Inputs */

input,
textarea,
select{

    outline:none;

    border:none;

    font-family:inherit;

}

/* Container */

.container{

    width:95%;

    max-width:1400px;

    margin:auto;

}

/* Utility Classes */

.text-center{

    text-align:center;

}

.hidden{

    display:none;

}

.flex{

    display:flex;

}

.grid{

    display:grid;

}